Source: masqmail
Section: mail
Priority: extra
Maintainer: markus schnalke <meillo@marmaro.de>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 7.2.3), liblockfile-dev, libglib2.0-dev, libident-dev
Homepage: http://marmaro.de/prog/masqmail

Package: masqmail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf (>> 0.5) | debconf-2.0, netbase, update-inetd
Replaces: mail-transport-agent
Provides: mail-transport-agent
Suggests: mail-reader, logrotate
Conflicts: mail-transport-agent
Description: mail transport agent for intermittently connected hosts
 Masqmail is an MTA (mail transport agent) and POP3 client for hosts
 with no permanent network connection, such as home network servers
 or notebook computers. It has special support for connections to
 different Internet Service Providers.
 .
 In these cases, Masqmail is a slim replacement for full-blown MTAs
 such as Sendmail, Exim, Qmail or Postfix. The POP3 client can be
 a small replacement for other full-featured tools like Fetchmail.
